img{
    width: 250px;
    border: 3px solid blue;




}
.bollywoodheroes{
border-radius: 50%;




}
.tollywoodheroes{
    width: 25opx;
    box-shadow: 10px 10px 10px black;
}
.kollywoodheroes{
border-radius: 70%;
box-shadow: 10px 10px 10px green;


}
    















